/*
This file is part of the CampaignChain package.

(c) CampaignChain, Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/

.hook-images-container .hook-images-row {
    padding: 10px 15px;
}

.hook-images-container .hook-image {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.hook-images-container .hook-image .remove-image {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #000000;
    color: #ffffff;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.hook-images-container .hook-image > img {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.hook-images-container .image-upload {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    background-image: url('/bundles/campaignchaincore/images/image_upload.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hook-images-container .image-upload input {
    font-size: 999px;
    position: absolute;
    top: -200px;
    left: -200px;
    cursor: pointer;
    opacity:0;
}

.hook-images-container .image-upload input:disabled {
    opacity:50;
    cursor: default;
}